@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Page</h1>
    <p> Want to learn about my Category page so click on Category on leftside</p>
</div>
